{% extends "base.html" %}

{% load static %}

{% block 'body' %}
  <main id="main">

  <main id="main">

    <!-- Blog Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Blog</h1>
              <p class="mb-0">Latest articles, information, news, and trends you need to know about online courses, Linux, Python,AI,data science and many more</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Blog</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Blog Section - Blog Page -->
    <section id="blog" class="blog">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 posts-list">

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
              </div>


              <h2 class="title">
                <a href="{% url 'blogdetails' %}">Which cloud system is best, AWS or AZURE</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Maria Doe</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Oct 1, 2023</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-2.jpg' %}" alt="" class="img-fluid">
              </div>

           

              <h2 class="title">
                <a href="blog-details2.html">Importance of Cyber security in business</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author-2.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Allisa Mayer</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">nov 5, 2023</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-3.jpg' %}" alt="" class="img-fluid">
              </div>

              

              <h2 class="title">
                <a href="blog-details3.html">How to use Python for Data Science</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author-3.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Mark Dower</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">OCT 22, 2023</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-4.jpg' %}" alt="" class="img-fluid">
              </div>


              <h2 class="title">
                <a href="blog-details.html">Career Opportunities In Learning AWS</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author-4.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Lisa Neymar</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Oct 30, 2023</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-5.jpg' %}" alt="" class="img-fluid">
              </div>

             

              <h2 class="title">
                <a href="blog-details.html">What Is Blockchain How Does It Work?</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author-5.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Denis Peterson</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Nov 3, 2023</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-lg-6">
            <article>

              <div class="post-img">
                <img src="{% static 'assets/img/blog/blog-6.jpg' %}" alt="" class="img-fluid">
              </div>

             

              <h2 class="title">
                <a href="blog-details.html">Python List Vs Dictionary in Python</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="{% static 'assets/img/blog/blog-author-6.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Mika Lendon</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Nov 14, 2023</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

        </div><!-- End blog posts list -->

        <div class="pagination d-flex justify-content-center">
          <ul>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div><!-- End pagination -->

      </div>

    </section><!-- End Blog Section -->

  </main>

{% endblock 'body'%}