{% extends "base.html" %}

{% load static %}

{% block 'body' %}
  <main id="main">

 
     <div class="bg-warning  ">
	  
	  
	  
	    <div class="row p-5">
		   <div class="col-6">
		   
	              <h1 class="fw-bold text-light">SPLECIAL OFFERS</h1>
	       </div>
           <div class="col-6">
		        
		         <img src="{% static 'assets/img/offers/discunt-1.jpg' %}" class="img-fluid">
				  <p class="fw-bold fs-5 text-danger">Save Up To 50% On Most Demanding Courses...</p>
		  </div>
	    </div>
	   <nav aria-label="breadcrumb  ">
       <ol class="breadcrumb">
         <li class="breadcrumb-item"><a href="index.html">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Offers</li>
       </ol>
      </nav>
     </div>

     {% endblock 'body' %}
     
	   
	   
	   
	   
        
   
    
   
  </main>

  