{% extends "base.html" %}

{% load static %}

{% block 'body' %}
  <main id="main" class="d-flex justify-content-center bg-danger mt-1">
     <div class="container-fluid   d-flex justify-content-center mt-3 ">
	     <input type="text" placeholder="Enter Courses, Category or Keyword" class=" p-2 border border-white " style="width:700px; height:60px;"> <div class="border  px-2 pt-3 p bg-danger"><i class='bx bx-search-alt-2 bx-md' style='color:#160303'  ></i></div> <br>
	  
      </div>
  </main>	  
  <main id="main" class="d-flex justify-content-center">
     
     <div class="container-fluid  bg-danger d-flex justify-content-center ">
	   <nav class="navbar navbar-expand-lg navbar-light bg-danger">
       
  

             <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active  ">
                         <a class="nav-link text-white" href="#">Trending Courses </a>
                    </li>
                   <li class="nav-item  ">
                       <a class="nav-link text-white" href="#">Feactured Courses</a>
                  </li>
               
                 <li class="nav-item  ">
                     <a class="nav-link text-white" href="#">Artificial Intelligence</a>
                 </li>
				 <li class="nav-item  ">
                     <a class="nav-link text-white " href="#">Big Data</a>
                 </li>
				 <li class="nav-item  ">
                     <a class="nav-link text-white" href="#">Cloud Computing</a>
                 </li>
				  <li class="nav-item  ">
                     <a class="nav-link text-white" href="#">Programming</a>
                 </li>
             </ul>
  
          </div>
       </nav>
	</div>
</main>	
 <main id="main" class="m-3">

	<div class="">
	     <h4>Recent Searched</h4>
	     <ul class="list-group">
           <li class="list-group-item">Artificial Intelligence Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
		   <li class="list-group-item">Certified Kubernetes Application Developer (CKAD) Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
            <li class="list-group-item">Terraform Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
			<li class="list-group-item">Data Science with Python Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
			<li class="list-group-item">Artificial Intelligence Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
		     <li class="list-group-item">Artificial Intelligence Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
		   <li class="list-group-item">Artificial Intelligence Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
            <li class="list-group-item">AWS SysOps Administrator Associate Training Course online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
			<li class="list-group-item">Artificial Intelligence Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
			<li class="list-group-item">Artificial Intelligence Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
			<li class="list-group-item">Artificial Intelligence Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
      		<li class="list-group-item">Artificial Intelligence Training Course Online<div class="badge bg-danger mx-2">Trending</div><div class="badge bg-danger mx-2">Feactured</div></li>
         </ul>
	
	
	
	
	
	 </div>
	
  
  

    
   
  </main>

  {% endblock 'body' %}