{% extends "base.html" %}

{% load static %}

{% block 'body' %}


  <main id="main">

    <!-- Portfolio Details Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title bg-light text-dark">
      <div class="heading">
        <div class="container">
          <div class="row d-flex  ">
            <div class="col-lg-8">
              <h1 class="">Python Developer</h1>
              <p class="mb-0">Get yourself trained with Python Core and Python Advance by the industry’s experts. Python is extremely scalable. It is a step towards the data industry including Data Science and Machine Learning. </p><p>Even as a Python Developer, the average mid-level salary is INR 900,000 per annum whereas the entry-level salary package is <mark>INR 427,000 PA</mark> in India. The experienced one can get an awesome INR 1,150,000 per annum </p>
			   <div class="row">
			     <div class="col-6 ">
			       <button type="button" class="btn btn-danger btn-block rounded-pill ">Book Demo Now</button>
				    <button type="button" class="btn btn-danger btn-block rounded-pill ">Preview Video</button>
				 </div>  
				 <div class="col-6">  
				   
				 </div> 
				</div>   
		     </div>
			<div class="col-lg-4">
			  <img src="{% static 'assets/img/PythonDev.jpg' %}" class="w-100" alt="python">
			</div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Course Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Portfolio-details Section - Portfolio Details Page -->
    <section id="portfolio-details" class="portfolio-details">

     
        

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-12" data-aos="fade-up">
            <div class="portfolio-description px-4 ">
			 <section id="Overview">
                <h2 >Courses for Python developer</h2>
                 <div class="card w-75 border border-2">
				    <div class="row">
					    <div class="col-2">
						  <img class="h-50 w-50 m-5 my-3" src="{% static 'assets/img/python-advance-training-course-online_WzpSG1a.jpg' %}">
						</div>
					    <div class="col-10 p-3">
			       	       <b>Python Core Training Course Online</b> <br>
                          <small> 
                              Learner

                              Live Recorded Class
  
                             Instructor Led Tranning

                             The advancement of computer languaging has made it easier for programmers to solve complex coding problems conveniently. This has reduced time consumption and solved the crisis of the firms with cloud computing. The Python Online Course at AP2V…... <a class="text-danger">View more</a></small>
                        </div>
				   </div>  			
				</div><br>
				  <div class="card w-75 border border-2">
				    <div class="row">
					    <div class="col-2">
						  <img class="h-50 w-50 m-5 my-3" src="{% static 'assets/img/python-advance-training-course-online_WzpSG1a.jpg' %}">
						</div>
					    <div class="col-10 p-3">
			       	       <b>Python Advanced Training Course Online</b> <br>
                          <small> 
                              Learner

                              Live Recorded Class
  
                             Instructor Led Tranning

                             The advancement of computer languaging has made it easier for programmers to solve complex coding problems conveniently. This has reduced time consumption and solved the crisis of the firms with cloud computing. The Python Online Course at AP2V…... <a class="text-danger">View more</a></small>
                        </div>
				   </div>  			
				</div>
             </section>
			 </div>
             
			  <div class="portfolio-description">
			   <section id="training">
                  <h2 >Related testimonals</h2>
				  <div class="row">
                     <div class="card  mx-3 border border-1" style="width: 325px; height:250;">
					    <div class="card-header border border-white fw-bold text-center"><i class='bx bxs-quote-single-left' style='color:#ea2525'  ></i><i class='bx bxs-quote-single-left' style='color:#ea2525'  ></i></div>
                        <div class="card-body">
						  I have taken Pyton Core&amp; Advance coaching under the guidance of Mr. Sachin Saini sir. The classes were excellent, we got to learn so much from him. Now I can develop my own Python application.
					     <br><a class="text-danger">Read More</a>
						 <br>
						 <br>
							Course
						 
						</div>
                        <div class="card-footer border border-white"><small>Harshit shingh  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; May 19 2021</small></div>
				     </div>
					   <div class="card  mx-3 border border-1" style="width: 325px; height:250;">
					    <div class="card-header border border-white fw-bold text-center"><i class='bx bxs-quote-single-left' style='color:#ea2525'  ></i><i class='bx bxs-quote-single-left' style='color:#ea2525'  ></i></div>
                        <div class="card-body">
						  I have taken Pyton Core&amp; Advance coaching under the guidance of Mr. Sachin Saini sir. The classes were excellent, we got to learn so much from him. Now I can develop my own Python application.
					     <br><a class="text-danger">Read More</a>
						 <br>
						 <br>
							Course
						 
						</div>
                        <div class="card-footer border border-white"><small>Harshit shingh  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; May 19 2021</small></div>
				     </div>
					   <div class="card  mx-3 border border-1" style="width: 325px; height:250;">
					    <div class="card-header border border-white fw-bold text-center"><i class='bx bxs-quote-single-left' style='color:#ea2525'  ></i><i class='bx bxs-quote-single-left' style='color:#ea2525'  ></i></div>
                        <div class="card-body">
						  I have taken Pyton Core&amp; Advance coaching under the guidance of Mr. Sachin Saini sir. The classes were excellent, we got to learn so much from him. Now I can develop my own Python application.
					     <br><a class="text-danger">Read More</a>
						 <br>
						 <br>
							Course
						 
						</div>
                        <div class="card-footer border border-white"><small>Harshit shingh  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; May 19 2021</small></div>
				     </div>
				 </div>	 
              </section>
             </div >
               <div class="portfolio-description">
			     <section id="Exam">
				      
					   <div class="row">
					     <div class="col-6">
						   <h2>Learning Path</h2>
					   <p> Live your dream to be hired by top IT Companies with us,<br> offering an array of professional courses with 100% Job Assistance</p>
					       <img src="{% static 'assets/img/PythonDev-2.jpg' %}" alt="" class="flex-shrink-0 h-50 w-100">
					      
                          </div>
						 
						 <div class="col-6">
						   <div class="row">
						   <div class="card w-50 border border-2 p-2"> <b> Python Developer </b> <br>
                                         Get yourself trained with Python Core and Python Advance by the industry’s experts. Python is…

                                             <br><br><small><a class="text-danger">View Learning path &rarr;</a></small>
											 </div>
							
							<div class="card w-50 border border-2 p-2"> <b> AWS Arcitect </b> <br>
                                         Get yourself trained with Python Core and Python Advance by the industry’s experts. Python is…

                                             <br><br><small><a class="text-danger">View Learning path &rarr;</a></small>
											 </div>
											 
						 </div>
						 <div class="row">
						   <div class="card w-50 border border-2 p-2"> <b> Java Developer </b> <br>
                                         Get yourself trained with Python Core and Python Advance by the industry’s experts. Python is…

                                             <br><br><small><a class="text-danger">View Learning path &rarr;</a></small>
											 </div>
							
                           <div class="card w-50 border border-2 p-2"> <b> AI Developer </b> <br>
                                         Get yourself trained with Python Core and Python Advance by the industry’s experts. Python is…

                                             <br><br><small><a class="text-danger">View Learning path &rarr;</a></small>
											 </div>
											 							
						 </div>
					   </div>
				 
				 </section>
			  </div> 
              <div class="portfolio-description">
			     <section id="Exam">
			         <div class="row">
					         <h4> Python Developer </h4>
					       <div class="col-8">
				                  <span class="badge rounded-pill bg-light text-secondary border border-1 p-2 m-3">Noida</span>
				                       <span class="badge rounded-pill bg-light text-secondary border border-1 p-2 m-3">Mumbai</span>
				         						 <span class="badge rounded-pill bg-light text-secondary border border-1 p-2 m-3">Dehli</span>
												 <span class="badge rounded-pill bg-light text-secondary border border-1 p-2 m-3">Pune</span>
                            </div>	
                             <div class="col-4">
                                   <div class="card  p-3 border border-1">
				 
				                       <div class="row">
					                        <div class="col-7 pt-2 fs-5">
				                                   Contact us <br>
								                    09210333323
					                        </div>			 
                                            <div class="col-5">
						                            <img src="{% static 'assets/img/portfolio/call.png' %}" alt="" class="flex-shrink-0 h-75 w-75 ">
                                            </div>						 
					                   </div>
				                    </div>
                             </div>								
				 	  </div>
                 </section>
			  </div>





		</div>

         

        </div>

      </div>

    </section><!-- End Portfolio-details Section -->

  </main>
 {% endblock 'body' %}