{% extends "base.html" %}

{% load static %}

{% block 'body' %}
  <main id="main">

  <main id="main">

      <!-- Portfolio Details Page Title & Breadcrumbs -->
    <div data-aos="fade" class="page-title bg-light text-dark">
      <div class="heading">
        <div class="container ">
          <div class="row d-flex   ">
            <div class="col-lg-8">
              <h1 class="">Why Unique</h1>
              <p class="mb-0">AP2V certificates for various programs are valid all across India as well as abroad. Because it is a Red Hat Authorized Training Partner. Enroll yourself to give your career a boost.</p>
			  
		     </div>
			<div class="col-lg-4">
			  <img src="{% static 'assets/img/why-us.png' %}" class="w-100 h-100" alt="python">
			</div>
			 
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Why Unique</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Portfolio-details Section - Portfolio Details Page -->
    <section id="portfolio-details" class="portfolio-details">
       
        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-12" data-aos="fade-up">
            <div class="portfolio-description px-4 ">
			 <section id="Overview">
                <h2 >There are 100 Reasons of Join Unique</h2>
                <ol>
				  <li>Flexible Batch Slots as Per Candidates Convenience</li>
				  <li>Verity of Professional Courses at Affordable Prices</li>
				  <li>Modern Classroom Infrastructure with High Level Hardware</li>
				  <li>Hot and Trending Technologies</li>
				  <li>A Bucket Full of Opportunities</li>
				  <li>Excellent Support Services for Students</li>
				  <li>Authorized Partner with Red Hat and Star Certification</li>
				  <li>Ready to Teach You New Things Which Means Up To Date</li>
				  <li>We Transform Students into Expert Professionals</li>
				</ol>

				</div>
             </section>
			 </div>
             
         

        </div>

      </div>

    </section><!-- End Portfolio-details Section -->

    
   
  </main>

  {% endblock 'body' %}